<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MyDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Treatment;Integrated Security=True" />
  <add name="MS_SQL_DB.Properties.Settings.TreatmentConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Treatment;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>